@model PirateShop.Models.ViewModels.NinjaViewModel
@{
    ViewBag.Title = "Create A Ninja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Pirate"))
{
    
}
<form>
    <div class ="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Age)
        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
    </div>
    
    @* Date of Bitch ( to be implemented later ) *@
    @*<div class="form-group">
        @Html.LabelFor(m => m.DOB)
        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control" })
    </div>*@
    
    <div class="form-group">
        @Html.LabelFor(m => m.clan)
        @Html.DropDownListFor(m => m.clan, new SelectList(Model.Clans,"ClanID", "ClanName"), "", new {@class = "form-control"})
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.gender)
        @Html.DropDownListFor(m => m.gender, new SelectList(Model.Genders, "ID", "gender"), new { @class = "form-control" })
    </div>

    <button type="submit" class="btn-primary"> Save </button>
</form>