@model List<PirateShop.Models.ViewModels.NinjaClanViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <div id="wholebox">
        @foreach (var item in Model)
        {

            <div id="infoBox">
                <img src="@Url.Content(item.clan.ClanLogo)" id="picture" />

                @if (item.ninja.NinjaImage.IsEmpty())
                {
                    <img src="@Url.Content("~/Images/empty.png")" id="picture" />
                }
                else
                {
                    <img src="@Url.Content(item.ninja.NinjaImage)" id="picture" />
                }

                <div id="box">@Html.DisplayFor(modelItem => item.ninja.Name)</div>
                <div id="box">@Html.DisplayFor(modelItem => item.ninja.Age)</div>
                <div id="box">@Html.DisplayFor(modelItem => item.Gender.gender)</div>

                <div id="button">
                    @if (Session["user"] != null) //if user is logged in, enable function
                    {
                        <button onclick="location.href = '@Url.Action("Delete", "Ninja", new {id = item.ninja.ID})';return false;">Delete</button>
                    }
                </div>
            </div>

            @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ninja.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ninja.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.gender)
                </td>
                <td>
                    <img src="@Url.Content(item.clan.ClanLogo)" id="picture"/>
                </td>
                <td>
                    <img src="@Url.Content(item.ninja.NinjaImage)" id="picture"/>
                </td>
                <td>*@
            @*@Html.ActionLink("Edit", "Edit", new { id = item.ninja.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ninja.ID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id = item.ninja.ID })*@
            @*@if (Session["user"] != null) //if user is logged in, enable function
                        {
                            <button onclick="location.href='@Url.Action("Delete", "Ninja", new { id = item.ninja.ID })'; return false;">Delete</button>
                        }

                    </td>
                </tr>*@
        }
    </div>

</table>
