@model List<PirateShop.Models.ViewModels.NinjaClanViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].ninja.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ninja.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Gender.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].clan.ClanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].ninja.NinjaImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ninja.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ninja.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.gender)
        </td>
        <td>
            <img src="@Url.Content(item.clan.ClanLogo)" width="100" height="100" />
        </td>
        <td>
            <img src="@Url.Content(item.ninja.NinjaImage)" width="100" height="100"/>
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.ninja.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ninja.ID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id = item.ninja.ID })*@
            <button onclick="location.href='@Url.Action("Delete", "Ninja", new { id = item.ninja.ID })'; return false;">Delete</button>
        </td>
    </tr>
    }

</table>
